body{
    background-image: url('./imgs/background1.webp');
    background-size: cover;
    background-attachment:fixed;
}

.navbar-nav a{
    font-size: 1.5rem;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.6);
}

.hero{
    background-color: rgba(245, 245, 245, 0.7);
}